<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dictionary</key>
	<dict>
		<key>af</key>
		<string>AFR</string>
		<key>sq</key>
		<string>ALB</string>
		<key>ar</key>
		<string>ARA</string>
		<key>eu</key>
		<string>EUS</string>
		<key>be</key>
		<string>BEL</string>
		<key>bg</key>
		<string>BUL</string>
		<key>ca</key>
		<string>CAT</string>
		<key>zh</key>
		<string>CHS</string>
		<key>hr</key>
		<string>HRV</string>
		<key>cs</key>
		<string>CZE</string>
		<key>da</key>
		<string>DAN</string>
		<key>nl</key>
		<string>DUT</string>
		<key>en</key>
		<string>ENG</string>
		<key>et</key>
		<string>EST</string>
		<key>fo</key>
		<string>FAO</string>
		<key>fa</key>
		<string>PER</string>
		<key>fi</key>
		<string>FIN</string>
		<key>fr</key>
		<string>FRE</string>
		<key>de</key>
		<string>GER</string>
		<key>he</key>
		<string>HEB</string>
		<key>hi</key>
		<string>HIN</string>
		<key>hu</key>
		<string>HUN</string>
		<key>is</key>
		<string>ISL</string>
		<key>it</key>
		<string>ITA</string>
		<key>ja</key>
		<string>JPN</string>
		<key>ko</key>
		<string>KOR</string>
		<key>lv</key>
		<string>LAV</string>
		<key>lt</key>
		<string>LIT</string>
		<key>mk</key>
		<string>MKD</string>
		<key>pl</key>
		<string>POL</string>
		<key>pt</key>
		<string>POR</string>
		<key>ro</key>
		<string>RUM</string>
		<key>ru</key>
		<string>RUS</string>
		<key>sk</key>
		<string>SLO</string>
		<key>sl</key>
		<string>SLV</string>
		<key>es</key>
		<string>SPA</string>
		<key>sw</key>
		<string>SWA</string>
		<key>sv</key>
		<string>SWE</string>
		<key>th</key>
		<string>TAI</string>
		<key>tr</key>
		<string>TUR</string>
		<key>uk</key>
		<string>UKR</string>
		<key>ur</key>
		<string>URD</string>
		<key>vi</key>
		<string>VIE</string>
		<key>el</key>
		<string>GRE</string>
	</dict>
</dict>
</plist>
