ul,
ol {
  list-style-type: none;
  margin: gutter();
  padding: 0;

  li {
    text-index: -gutter();

    &:before {
      margin-right: gutter();
      content: "\002022";
      color: $yellow;
      font-weight: bold;
    }
  }
}

ol {
  list-style-type: decimal;

  li {
    &:before {
      margin-right: gutter();
      content: "";
      color: $dark-gray;
    }
    ul {
      li {
          &:before {
          margin-right: gutter();
          content: "\002022";
          color: $yellow;
          font-weight: bold;
        }
      }
    }
  }
}

ul.no-bullets {
  list-style-type: none;

  li {
    text-indent: 0;

    &:before {
      margin-right: 0;
      content: "";
    }
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
