ul,
ol {
  list-style-type: none;
  margin: gutter();
  padding: 0;

  li {
    text-indent: - .7em;
    margin-left: 1em;

    &:before {
      margin-right: gutter();
      content: "\002022";
      color: $yellow;
      font-weight: bold;
    }
  }
}

.info_box {
  ul, ol {
    li {
      text-indent: -1.2em;
    }
  }
}

.parent_info_box {
  ul, ol {
    li {
      text-indent: -1.25em;
      margin-left: 1.3em;

      li {
        text-indent: -1em;
        margin-left: 1em;
      }
    }
  }
}

table {
  ul, ol {
    li {
      text-indent: -.85em;
    }
  }
}

ol {
  list-style-type: decimal;

  li {
    padding: gutter();
   
    &:before {
      margin-right: gutter();
      content: "";
      color: $dark-gray;
    }

    p {
      margin: gutter() 0;
      text-indent: 0;
    }

    ul {
      li {
          &:before {
          margin-right: gutter();
          content: "\002022";
          color: $yellow;
          font-weight: bold;
        }
      }
    }
  }
}

ul.no-bullets {
  list-style-type: none;

  li {
    text-indent: 0;

    &:before {
      margin-right: 0;
      content: "";
    }
  }
}

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
