#site {
  @include container(80em);
}

#header_wrapper {
  @include span(12 of 12);
  border-bottom: $header-border;
  margin-bottom: 0;
 
  #header_left {
    @include span(8 of 12 no-gutters);
    
    h1 {
      width: span(12 of 12 no-gutters);
      margin: gutter() 0;
      font-size: $header-title-font-size;
    }
  }

  #header_right {
    @include span(4 of 12 at 9);

    #text_wrapper {
      @include span(10 of 12 no-gutters);
      margin-top: 1.25em;

      h1 {
        vertical-align: bottom;
        margin: 0;
        text-align: right;
        font-size: $header-right-font-size;
      }
    }
    #image_wrapper {
      @include span(2 of 12 at 11);
      margin-top: .5em;
      margin-bottom: 0;
      text-align: right;
      
      img {
        width: 4em;
        margin-right: gutter();
        margin-bottom: 0;
      }
    }
  }
}

#under_header {
  @include span(12 of 12 no-gutters);
  text-align: right;

  h1 {
    margin-right: gutter();
  }
}

#toc {
  @include span(3 of 12 no-gutters);
  border-right: $toc-border;

  h1 {
    margin-left: gutter();
    font-size: $toc-header-font-size;
    font-weight: normal;
    color: $purple;
  }
  ul {
    margin-left: gutter();
    list-style-type: none;
  
    li {
      text-index: 0;
      margin-top: gutter();
      margin-bottom: gutter();
      font-weight: bold;
      
      a {
        color: $dark-gray;

        &:hover {
          color: $black;
        }
      }    
      
      &:before {
        margin-right: 0;
        content: "";
        color: none;
      }
    }
  }
}

  #introduction {
    @include span(9 of 12 at 4);

    h2 {
      font-size: $base-font-size;
      margin: gutter() 0;
    }
  }

.module_section {
  @include span(12 of 12 no-gutters);
  margin-top: 2 * gutter();

  h1 {
    border-bottom: 1px solid $purple;
  }

  h2 {
    width: span(9);
    margin: 2 * gutter() auto;
    border-bottom: 1px solid $purple;
  }
}

.image_wrapper {
  width: span(12);
  text-align: center;
  margin: gutter() 0;
  clear: both;
}

.info_box {
  @include info_box();
  border: $info-box-border;
  padding: 2 * gutter();

  h1 {
    font-weight: normal;
    margin-top: gutter();
    border: none;
  }
}

.comparision_wrapper {
  @include span(12 of 12 no-gutters);
  margin: gutter();
  clear: both;

  .comparison_box {
    width: span(8);
    margin: 2* gutter() auto;
    clear: both;
  
    h1 {
      background-color: $purple;
      text-align: center;
      color: $yellow;
      font-weight: normal;
      padding: gutter();
      border: none;
    }
    .left_column {
      @include span(6 of 12 no-gutters);
      clear: left;
    }
    .right_column {
      @include span(6 of 12 at 7 no-gutters);
      clear: right;
    }
  }
}

.parent_info_wrapper {
  @include span(12 of 12 no-gutters);
  margin: gutter() 0;

  .parent_info_box {
    width: span(8.5 no-gutters);
    border: $parent-info-box-border;
    margin: gutter() auto;
    clear: both;
  
    h1 {
      text-align: center;
      margin: 0;
      padding: gutter();
      border: none;
    }
    p {
      padding: 0 gutter() gutter() gutter();
    }
  }
}

.table_wrapper {
  width: span(8.5);
  margin: gutter() auto;
  clear: both;

  h1 {
    border: none;
  }
  table {
    @include span(12 of 12);
    border-collapse: collapse;

    tr:first-child {
      background-color: $purple;
    }
    th {
      color: $yellow;
      text-align: center;
      border: $table-border;
    }
    td {
      border: $table-border;
      padding: gutter();
      vertical-align: top;
    }
  }
}
